name: Azure IaC Review

on:
  pull_request:
    paths:
      - 'infra/**'

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: resourcepulse-io/bicep-azure-iac-reviewer@main
        with:
          param_file: infra/params/dev.bicepparam
          comment_mode: update
          server_address: https://dev.resourcepulseapp.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
